@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

@font-face {
  font-family:f1;
  src: url('/fonts/f1.woff2');
}
@font-face {
  font-family:f2;
  src: url('/fonts/f2.woff2');
}
@font-face {
  font-family:f3;
  src: url('/fonts/f3.woff2');
}
@font-face {
  font-family:f4;
  src: url('/fonts/f4.woff2');
}
@font-face {
  font-family:f5;
  src: url('/fonts/f5.woff2');
}
@font-face {
  font-family:f6;
  src: url('/fonts/f6.woff2');
}
@font-face {
  font-family:f7;
  src: url('/fonts/f7.woff2');
}
@font-face {
  font-family:f8;
  src: url('/fonts/f8.woff2');
}


.f1{
  font-family:f1;
}
.f2{
  font-family:f2;
}
.f3{
  font-family:f3;
}
.f4{
  font-family:f4;
}
.f5{
  font-family:f5;
}
.f6{
  font-family:f6;
}
.f7{
  font-family:f7;
}
.f8{
  font-family:f8;
}


::-webkit-scrollbar {
  display: none;
}